<h2>Dr, <%=@user.username%>! You delete your todo.</h2>
<!--<%= image_tag("fon.jpg", :alt => "rss feed") %>-->
<img src="https://list-add-todo.herokuapp.com/images/fon.jpg" alt="Logo" title="Logo"   />
<div  width="200" height="87" class="mail-button">wefrewrfewrfef </div>
