<h3>Dr, <%=@user.username%>! You delete your todo.</h3>
<!--<%= image_tag("fon.jpg", :alt => "rss feed") %>-->
<img src="https://list-add-todo.herokuapp.com/images/fon.jpg" alt="Logo" title="Logo"   />
<div  width="200" height="87" style="background-color: #cc0909;">wefrewrfewrfef </div>

