/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "index.css";



.link-to-nav {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;

  }

.nav {

  height: 3em;
  line-height: 3em;
  padding: 0px 0 0 32px;
}


.body-todo {
  margin: 50px 30% 50%;
  width: 600px;
  height: auto;
}

.input {
  width: 600px;
  height: 20px;
}

.form-registration {
  width: 50%;
  margin: auto;
}

.actions {
  margin: 13px 0 0 0;
}

.todo-fount {
  text-align: center;
  color: #478ca0;
}
//
///* The switch - the box around the slider */
//.switch {
//  position: relative;
//  display: inline-block;
//  width: 34px;
//  height: 19px;
//  display: inline-block;
//  max-width: 100%;
//  margin-bottom: -4px;
//  font-weight: bold;
//  right: 1px;
//  margin-right: 11px;
//}
//
///* Hide default HTML checkbox */
//.switch input {display:none;}
//
///* The slider */
//.slider {
//  position: absolute;
//  cursor: pointer;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-color: #ccc;
//  -webkit-transition: .4s;
//  transition: .4s;
//}
//
//.slider:before {
//  position: absolute;
//  content: "";
//  height: 12px;
//  width: 12px;
//  left: 4px;
//  bottom: 4px;
//  background-color: white;
//  -webkit-transition: .4s;
//  transition: .4s;
//}
//
//input:checked + .slider {
//  background-color: #2196F3;
//}
//
//input:focus + .slider {
//  box-shadow: 0 0 1px #2196F3;
//}
//
//input:checked + .slider:before {
//  -webkit-transform: translateX(26px);
//  -ms-transform: translateX(26px);
//  transform: translateX(13px);
//}
//
///* Rounded sliders */
//.slider.round {
//  border-radius: 34px;
//}
//
//.slider.round:before {
//  border-radius: 50%;
//}
//
//.form-control {
//  height: auto;
//}
//
//.switch{border:1px solid #ccc;width:50px;height:26px;border-radius:13px;cursor:pointer;display:inline-block}.switch-toggle{border:1px solid #999;box-shadow:1px 1px 1px #ccc;width:25px;height:24px;left:0;border-radius:12px;background:#fff;position:relative;transition:left .2s ease-in-out}.switch.on{background:green}.switch.on .switch-toggle{left:23px}.switch.disabled{cursor:not-allowed}