<div>
  <nav class="nav navbar-fixed-bottom" style="background-color: #000000">
     <span> Kovaleva Anastasiya Dunice Edge Company</span>
    <%= link_to 'Feedback', new_contact_path, class: "link-to-nav" %>
  </nav>
</div>